<!-- IF (SCRIPT_NAME == 'app/seeds/minty') -->
    <!-- IF ( MINTY_SEEDS_ENABLED and USER_MINTY_SEEDS_ENABLED) -->
        <!-- IF $dhtmlx_suite_css_included == false -->
            {% INCLUDECSS 'dhtmlx/suite.min.css' %}
            <!-- DEFINE $dhtmlx_suite_css_included = true -->
        <!-- ENDIF -->
        <!-- IF $pnotify_css_included == false -->
            {% INCLUDECSS 'pnotify/PNotify.css' %}
            {% INCLUDECSS 'pnotify/Material.css' %}
            {% INCLUDECSS 'pnotify/PNotifyMobile.css' %}
            <!-- DEFINE $pnotify_css_included = true -->
        <!-- ENDIF -->
    {% INCLUDECSS 'css/minty_seeds.css' %}
    <!-- ENDIF -->
<!-- ENDIF -->
