<!-- IF ( MINTY_SEEDS_ENABLED and USER_MINTY_SEEDS_ENABLED) -->
	<!-- IF ( U_MINTY_SEEDS_READ or A_MINTY_SEEDS_ADMIN) -->
	<li data-last-responsive="true">
		<a href="{{ U_SEEDS_PAGE }}" title="{{ lang('SEEDS_PAGE') }}" role="menuitem">
			<i class="icon fa-leaf fa-fw" aria-hidden="true"></i><span title="Seed Library">{{ lang('SEEDS_PAGE') }}</span>
		</a>
	</li>
	<!-- ENDIF -->
	<!-- IF SCRIPT_NAME == 'app/seeds/minty' -->
	<script>
		const MINTY_SEEDS = Object.freeze({
			SCRIPT_NAME : '{SCRIPT_NAME}',
			URL : 'https://github.com/MintyMods/GR420SeedLibraryExtensionPHPBB',
			USER_ENABLED : '{USER_MINTY_SEEDS_ENABLED}' === '1',
			DEBUG : '{MINTY_SEEDS_DEBUG}' === '1',
			VERSION : '{MINTY_SEEDS_VERSION}',
			GRID_TITLE : '{MINTY_SEEDS_TITLE}',
			READ : '{U_MINTY_SEEDS_READ}' === '1',
			ADD : '{U_MINTY_SEEDS_ADD}' === '1',
			EDIT : '{U_MINTY_SEEDS_EDIT}' === '1',
			DELETE : '{U_MINTY_SEEDS_DELETE}' === '1',
			ADD_BREEDER : '{M_MINTY_SEEDS_ADD_BREEDER}' === '1',
			EDIT_BREEDER : '{M_MINTY_SEEDS_EDIT_BREEDER}' === '1',
			DELETE_BREEDER : '{M_MINTY_SEEDS_DELETE_BREEDER' === '1',
			ADMIN : '{A_MINTY_SEEDS_ADMIN}' === '1',
		});
	</script>
	<!-- ENDIF -->
<!-- ENDIF -->
